page-participan {
    .participanPage{
        background-color:#009645;
    }
    .ddlParticipa{
        max-width: 100% !important;
    }
    .dvParticipaContent{
        border: 1px solid #DCA44B;
        margin-top: 5px;
        width: 100%;
    }
    .dvParticipaContent h2{
        white-space: normal;
    }
}
