<ion-header>

  <ion-navbar>
    <ion-title>Quienes Participan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="participanPage">
    <div id="dvParticipanSelect">
        <ion-item id="participan-select1">
            <ion-label>
            Quienes Participan
            </ion-label>
            <ion-select name="ddlParticipan" [(ngModel)]="participaSelected" class="ddlParticipa">
                <ion-option *ngFor="let quien of participantes" [value]="quien.value">
                    {{quien.name}}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div *ngFor="let quien of participantes">
        <ion-slides pager *ngIf="quien.value === participaSelected" class="slidesParticipan">
            <ion-slide class="dvParticipaContent" *ngFor="let child of quien.childs">
                <ion-card>
                    <img src="{{'assets/imgs/' + child.logo}}"/>
                    <ion-card-content>
                        <ion-card-title>
                            {{child.name}}
                        </ion-card-title>
                        <p>
                                <ion-icon name="phone-portrait" class="phone-icon"></ion-icon>&nbsp;&nbsp;<a href="{{'tel:+57' + child.info}}" class="button button-positive">+57 - {{child.info}}</a>
                        </p>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
    <!-- <div *ngFor="let quien of participantes">
        <ng-container *ngIf="quien.value === participaSelected">
            <div class="dvParticipaContent">
                <ion-item class="bg-item-norma" *ngFor="let child of quien.childs">
                    <ion-thumbnail item-start>
                      <img src="{{'assets/imgs/' + child.logo}}"/>
                    </ion-thumbnail>
                    <h2>{{child.name}}</h2>
                </ion-item>
            </div>
        </ng-container>
    </div> -->
</ion-content>
