<ion-header>

  <ion-navbar>
    <ion-title>Quienes Participan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="participanPage">
    <div id="dvParticipanSelect">
        <ion-item id="participan-select1">
            <ion-label>
            Quienes Participan
            </ion-label>
            <ion-select name="ddlParticipan" [(ngModel)]="participaSelected" class="ddlParticipa">
                <ion-option *ngFor="let quien of participantes" [value]="quien.value">
                    {{quien.name}}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div *ngFor="let quien of participantes">
        <ng-container *ngIf="quien.value === participaSelected">
            <div class="dvParticipaContent">
                <ion-item class="bg-item-norma" *ngFor="let child of quien.childs">
                    <ion-thumbnail item-start>
                      <img src="{{'assets/imgs/' + child.logo}}"/>
                    </ion-thumbnail>
                    <h2>{{child.name}}</h2>
                </ion-item>
            </div>
        </ng-container>
    </div>
</ion-content>
