page-participan {
    .participanPage{
        background-color:#009645;
    }
    .ddlParticipa{
        max-width: 100% !important;
    }
    .dvParticipaContent{
        border: 1px solid #DCA44B;
        margin-top: 5px;
        width: 100%;
    }
    .dvParticipaContent h2{
        white-space: normal;
    }
    .slidesParticipan{
        margin-top: 20px;
    }
    .swiper-pagination {
        padding: 3px;
        bottom:0px;
        margin-top: 100px;
        display: block;
        .swiper-pagination-bullet {
            // background: #FFF;
            margin: 0 3px;
        }
    }
    div.swiper-pagination {
        top:inherit;
        bottom:100%;
     }
     .phone-icon{
         color: #009645;
     }
}
