<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Normativa</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="pageNormativa" class="normativoPage">
    <div id="dvNormativoSelect">
        <ion-item id="normativo-select1">
            <ion-label>
            Normativa
            </ion-label>
            <ion-select name="ddlNormativa" [(ngModel)]="normaSelected" class="ddlNormativa">
                <ion-option *ngFor="let norma of items" [value]="norma.value">
                    {{norma.name}}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>
    <div *ngFor="let norma of items">
        <ng-container *ngIf="norma.value === normaSelected">
            <div class="dvNormativoLinks">
                <ion-item (click)="showDocument(child.url);" class="bg-item-norma" *ngFor="let child of norma.childs">
                    <h2><ion-icon name="attach" class="icon-normativo-list"></ion-icon>&nbsp;{{child.name}}</h2>
                </ion-item>
            </div>
        </ng-container>
    </div>
</ion-content>