page-normativo{
    .normativoPage{
        background-color:#009645;
    }
    .ddlNormativa{
        max-width: 100% !important;
    }
    .dvNormativoLinks{
        border: 1px solid #DCA44B;
        margin-top: 5px;
        width: 100%;
    }
}